<!-- Jimwel L. Valdez | WD-302 -->

<mat-toolbar>
  <mat-toolbar-row>
    <p class="book-app-title">Jim's Book App<br>
      <span class="createdby">Created by Jimwel Valdez of WD-302</span>
    </p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="book-input-container" appearance="outlined">
  <mat-card-title>Add New Book</mat-card-title>
  <mat-card-content>
    <form class="book-input-fields">
      <mat-form-field>
        <mat-label>Book title</mat-label>
        <input matInput id="newBook">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Author</mat-label>
        <input matInput id="newAuth">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput id="newDesc">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput id="newPrice">
      </mat-form-field>
    
      <button mat-flat-button (click)="addBook()">Add book</button>
    </form>
  </mat-card-content>

</mat-card>

<mat-card class="book-list-container">
  <mat-card-content> 
    <mat-card-title>List of Books</mat-card-title>
    <mat-list *ngFor="let book of books">
      <div class="listing">
        <div class="list-left">
          <mat-list-item>
            <mat-icon matListItemIcon>book</mat-icon>
            <div class="title" matListItemTitle>{{book.title}}</div>
            <div matListItemLine>{{book.author}}</div>
            <div matListItemLine>{{book.desc}}</div>
            <div class="price" matListItemLine>PHP {{book.price}}</div>
          </mat-list-item>
        </div>
        <div class="list-right">
          <button mat-stroked-button (click)="deleteBook(book.id)">Delete book</button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>